<%= form_with(model: requirement, local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nome" %>
    <%= form.text_field :name, id: :requirement_name , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :priority, "Prioridade" %>
    <%= form.number_field :priority, id: :requirement_priority , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :description, "Descrição" %>
    <%= form.text_area :description, id: :requirement_description , class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :database_id, "Database Id" %>
    <%= form.text_field :database_id, id: :requirement_database_id , class:"form-control"%>
  </div>
  <div class="form-group">
    <%= label_tag 'atributo1','atributo_1'%>
    <%= check_box_tag 'requirement[atributo][]', 'atributo_1', checked('atributo_1'), id:'atributo1' %>

    <%= label_tag 'atributo2','atributo_2'%>
    <%= check_box_tag 'requirement[atributo][]', 'atributo_2', checked('atributo_2'), id:'atributo2' %>
  </div>

  <div class="actions">
    <%= form.submit "Criar", class:"btn btn-primary botao-table"%>
  </div>
<% end %>
