<%= form_with(model: requirement, local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= form.label :name, "Nome" %>
      <%= form.text_field :name, id: :requirement_name , class:"form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :priority, "Prioridade" %>
      <%= form.number_field :priority, id: :requirement_priority , class:"form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :description, "Descrição" %>
      <%= form.text_area :description, id: :requirement_description , class:"form-control"%>
    </div>

    <div class="form-group">
      <%= form.label :database_id, "Database Id" %>
      <%= form.collection_select :database_id, @databases, :id, :name, {}, class: "form-control" %>  </div>
    </div>
    <div class="form-group form_checkbox">
      <div class="row">
       <div class="col-md-3">
          <%= label_tag 'Confiabilidade','Confiabilidade'%>
          <%= check_box_tag 'requirement[atributo][]', 'Confiabilidade', checked('Confiabilidade'), id:'confiabilidade' %>
       </div>

       <div class="col-md-3"> 
        <%= label_tag 'Integridade','Integridade'%>
        <%= check_box_tag 'requirement[atributo][]', 'Integridade', checked('Integridade'), id:'integridade' %>
       </div>

       <div class="col-md-3">       
        <%= label_tag 'Disponibilidade','Disponibilidade'%>
        <%= check_box_tag 'requirement[atributo][]', 'Disponibilidade', checked('Disponibilidade'), id:'disponibilidade' %>
       </div>
       <div class="col-md-3">
        <%= label_tag 'Software','Software'%>
        <%= check_box_tag 'requirement[atributo][]', 'Software', checked('Software'), id:'software' %>
       </div>
     </div>

      <div class="row">
       <div class="col-md-3">
          <%= label_tag 'Hardware','Hardware'%>
        <%= check_box_tag 'requirement[atributo][]', 'Hardware', checked('Hardware'), id:'hardware' %>
       </div>

       <div class="col-md-3">
        <%= label_tag 'Pessoas','Pessoas'%>
        <%= check_box_tag 'requirement[atributo][]', 'Pessoas', checked('Pessoas'), id:'pessoas' %>
       </div>

       <div class="col-md-3">    
        <%= label_tag 'Base de Dados','Base de Dados'%>
        <%= check_box_tag 'requirement[atributo][]', 'Base_de_Dados', checked('Base_de_Dados'), id:'base_dados' %>
       </div>
       <div class="col-md-3">
        <%= label_tag 'Documentos','Documentos'%>
        <%= check_box_tag 'requirement[atributo][]', 'Documentos', checked('Documentos'), id:'documentos' %>
       </div>
     </div>

     <div class="row">  
        <%= label_tag 'Funcional','Funcional'%>
        <%= check_box_tag 'requirement[atributo][]', 'Funcional', checked('Funcional'), id:'funcional' %>

        
        <%= label_tag 'Não-Funcional','Não Funcional'%>
        <%= check_box_tag 'requirement[atributo][]', 'Nao_Funcional', checked('Nao_Funcional'), id:'naofuncional' %>
    </div>
  </div>


  <div class="actions">
    <%= form.submit "Criar", class:"btn btn-primary botao-table"%>
  </div>
<% end %>
