<%= form_with(model: requirement, local: true) do |form| %>
  <% if requirement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(requirement.errors.count, "error") %> prohibited this requirement from being saved:</h2>

      <ul>
      <% requirement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :requirement_name %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.number_field :priority, id: :requirement_priority %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :requirement_description %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type, id: :requirement_type %>
  </div>

  <div class="field">
    <%= form.label :database_id %>
    <%= form.text_field :database_id, id: :requirement_database_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
