<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @requirement.name %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @requirement.priority %>
</p>

<p>
  <strong>Description:</strong>
  <%= @requirement.description %>
</p>


<p>
  <strong>Database:</strong>
  <%= @requirement.database.name %>
</p>

<p>
	<strong>Atributos</strong>
	<%= @requirement.atributo %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
