<%= form_with(model: atributo, local: true) do |form| %>
  <% if atributo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atributo.errors.count, "error") %> prohibited this atributo from being saved:</h2>

      <ul>
      <% atributo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :atributo_name %>
  </div>

  <div class="field">
    <%= form.label :requirement_id %>
    <%= form.text_field :requirement_id, id: :atributo_requirement_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
