<p id="notice"><%= notice %></p>

<h1>Banco de Requisitos</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Autor</th>
      <th>Descrição</th>
      <th>Data</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @databases.each do |database| %>
      <tr>
        <td><%= database.id %></td>
        <td><%= database.name %></td>
        <td><%= database.author %></td>
        <td><%= database.description %></td>
        <td><%= database.date %></td>
        <td><%= link_to 'Ver', database, class:"btn btn-info botao-table" %></td>
        <td><%= link_to 'Editar', edit_database_path(database), class:"btn btn-info botao-table" %></td>
        <td><%= link_to 'Excluir', database, method: :delete, data: { confirm: 'Tem certeza?' }, class:"btn btn-info botao-table" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Base de Dados', new_database_path, class:"btn btn-primary botao-table" %>
